<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="  https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/login.css">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'login.css') }}">
    <title>Login</title>
</head>
<body>

    <section>
        <!-- Bắt Đầu Phần Hình Ảnh-->
        <div class="img-bg">
            <a href=""><img src="{{ url_for('static', filename = 'img/login.png') }}" alt="Hình Ảnh Minh Họa"></a>
        </div>
        <!--Kết Thúc Phần Hình Ảnh-->
        <!--Bắt Đầu Phần Nội Dung-->
        <div class="noi-dung">
            <div class="form">
                <div class="title">Đăng nhập</div><br>
                <form action="/login" method="POST">
                    <div class="input-form">
                        <span>Email:</span>
                        <input type="email" name="txt_email" placeholder="Nhập email của bạn" required>
                    </div>
                    <div class="input-form">
                        <span>Mật khẩu</span>
                        <input type="password" name="txt_password" placeholder="Nhập mật khẩu của bạn" required>
                    </div>
                    <div class="nho-dang-nhap">
                        <label><input class="checkbox" type="checkbox" name="">Ghi nhớ mật khẩu</label>
                    </div>
                    <div class="input-form">
                        <input type="submit" value="Đăng nhập">
                    </div>
                    <div class="input-form">
                        <P><a href="">Quên mật khẩu?</a><br>or</P>
                        <p>Bạn chưa có tài khoản? <a href="/register">Đăng kí ngay</a></p>
                    </div>
                </form>
            </div>
        </div>
        <!--Kết Thúc Phần Nội Dung-->
    </section>


</body>
</html>


